.header-div {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 20px;
  text-align: left;
  .logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    h1 {
      color: #aadaff;
      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 5s linear;
        }
      }
      
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    h2 {
      font-family: 'Antonio', sans-serif;
      color: #c3ecb2;
    }
  }
  .h6 {
    color: #c3ecb2;
    margin: -10px 0 0 73px;
  }
}
