@import "~bootstrap/scss/bootstrap";

@import "header";
@import "footer";
@import "options";
@import "popup";

.App {
  text-align: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px 10px 10px 10px;
  background-color: black;
  font-family: 'Epilogue', sans-serif;
}

.button {
  font-size: 1.2rem;
}